{% extends 'base.html' %}

{% block main %}
<div>

    <h1>CV Maker</h1>

    <p>

    Welcome to best CV making app ever!
    <br>
    Please login to Google+

    </p>
    <h1>Third-party authentication demo</h1>

    <p>
    <ul>
        {% if user and not user.is_anonymous %}
        <li>
            <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        </li>
        {% else %}
        </li>
        <li>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login
                with Google</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}">Login
                with Linked In</a>
        </li>
        {% endif %}
    </ul>
    </p>

    <form action="/cv/" method="post">
        <label for="aboutme">About Me: </label>
        <input id="aboutme" type="text" name="aboutme" value="{{ current_name }}">
        <input type="submit" value="OK">
    </form>


</div>
{% endblock %}